@model BookStore.Models.Cart
@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

<table class="table">
    <tr>
        <th>Title</th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Book.Title)
        </td>
    </tr>
</table>