<html>
<head>

    <title>Index</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Hello').click(function () {
                alert("Hello");
            });
        });
    </script>
</head>
<body>


    <a href="#" class="Hello">Hello</a>
</body>
</html>
