
@{
    ViewBag.Title = "View Books";
}


<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
        </tr>
        @foreach (var item in ViewBag.Books)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>



