@*@model IEnumerable<BookStore.Models.Category>*@

@{
    ViewBag.Title = "AllCategories";
}

<h2>AllCategories</h2>

@*@Html.DropDownList("catname", ViewBag.catname as SelectList, "Select Category", new { style="width: 150px"})*@

@*@{ 
using (Html.BeginForm("AllCategories", "Categories", FormMethod.Post))
{
    <select style="margin: 10px;">
        <option>All Categories</option>
        @foreach (var item in Model)
        {
            <option name="category">

                @Html.DisplayFor(ModelItem => item.NameCategory)

            </option>
        }
    </select>
    
}
}*@


@*<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Books/View">

                    @Html.DisplayFor(modelItem => item.NameCategory)

                </a>
            </td>
        </tr>
    }

</table>*@


